<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670883720488-n3lgdrkidscjmnvv4tbvu0ab22mcmn1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670883720488-n3lgdrkidscjmnvv4tbvu0ab22mcmn1o</string>
	<key>API_KEY</key>
	<string>AIzaSyB4VhZd5p3BXDzBqQdUpWSmJfLNFyx-9Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>670883720488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.hussini.diginote</string>
	<key>PROJECT_ID</key>
	<string>diginote-f04ef</string>
	<key>STORAGE_BUCKET</key>
	<string>diginote-f04ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670883720488:ios:e51ec2afb591e7d730341d</string>
</dict>
</plist>